html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.handle {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0b009c;
  padding: 4px;
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
}

.headFont {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  color: white;
}

.text {
  font-family: "VT323", monospace;
  margin: 0px;
}

.button {
  background-color: #c0c0c0;
  border-right: 2px solid #333;
  border-top: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  border-bottom: 2px solid #333;
}
.button:hover {
  background-color: #c0c0c0;
  border-right: 2px solid #fff;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-bottom: 2px solid #fff;
}
