.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #377e7f;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

h3.navItem {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  transition: font-size 200ms, color 200ms;
  cursor: pointer;
  margin-right: 8px;
  width: 80px;
}

.navItem:hover {
  font-size: 20px;
  color: #3867d6;
}

#nameBox {
  padding: 8px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  transition: background-color 200ms, color 200ms;
}

#nameBox:hover {
  color: #fff;
  background-color: #333;
}

#dock {
  height: 40px;
  background-color: #c0c0c0;
  border-top: 2px solid #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  padding: 4px;
  align-items: center;
}

#startbutton {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

#startbutton:hover {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
}

.bit {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
